# Build a basic CentOS 5 AMI
install
cmdline
reboot

cdrom
lang en_US.UTF-8
keyboard us
skipx
network --device eth0 --bootproto dhcp
services --enabled=network
rootpw --iscrypted $1$Wc6Nxljt$LmD0wSpp611tCW90gUBaZ1
firewall --enabled --port=22:tcp
authconfig --enableshadow --enablemd5
selinux --permissive
timezone --utc America/Detroit
bootloader --location=mbr --driveorder=vda
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
#clearpart --linux --drives=vda
clearpart --all --initlabel --drives=vda
part /boot --fstype ext3 --size=100 --ondisk=vda
part swap --size=512
part / --fstype ext4 --size=100 --grow

#
#
# Add all the packages after the base packages
#
%packages --excludedocs --nobase
@core
-Deployment_Guide-en-US
-elilo
-bluez-utils
-dhcpv6-client
-elilo
-ecryptfs-utils
-freeipmi
-gnu-efi
-kudzu
-ppc64-utils
-sysfsutils
-udftools
-yaboot
-rsyslog
